
<!-- Carousel Start -->

<div class="container-fluid p-0 mb-5">
    <div id="header-carousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="w-100" src="/img/slika1.jpg" alt="Image">
                <div class="carousel-caption d-flex align-items-center">
                    <div class="container">
                        <div class="row align-items-center justify-content-center justify-content-lg-start">
                            <div class="col-10 col-lg-7 text-center text-lg-start">
                                <h6 class="text-white text-uppercase mb-3 animated slideInDown">// Tehnički pregled //</h6>
                                <h1 class="display-3 text-white mb-4 pb-3 animated slideInDown">Zakazite termin kod nas već danas!</h1>
                                <a asp-action="zakazivanje_termina" class="btn btn-primary py-3 px-5 animated slideInDown">Zakaži termin!<i class="fa fa-arrow-right ms-3"></i></a>
                            </div>
                            <div class="col-lg-5 d-none d-lg-flex animated zoomIn">
                                <img class="img-fluid" src="/img/carousel-1.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img class="w-100" src="/img/carousel-bg-2.jpg" alt="Image">
                <div class="carousel-caption d-flex align-items-center">
                    <div class="container">
                        <div class="row align-items-center justify-content-center justify-content-lg-start">
                            <div class="col-10 col-lg-7 text-center text-lg-start">
                                <h6 class="text-white text-uppercase mb-3 animated slideInDown">// Usluge //</h6>
                                <h1 class="display-3 text-white mb-4 pb-3 animated slideInDown">Isprobajte neke od naših usluga!</h1>
                                <a asp-action="zakazivanje_termina" class="btn btn-primary py-3 px-5 animated slideInDown">Isprobaj!<i class="fa fa-arrow-right ms-3"></i></a>
                            </div>
                            <div class="col-lg-5 d-none d-lg-flex animated zoomIn">
                                <img class="img-fluid" src="/img/carousel-2.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#header-carousel"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<!-- Carousel End -->
<!-- Service Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="d-flex py-5 px-4">
                    <i class="fa fa-certificate fa-3x text-primary flex-shrink-0"></i>
                    <div class="ps-4">
                        <h5 class="mb-3">
                            Profesionalnost
                            naših kontrolora
                        </h5>
                        <p> Znate da vam je auto u sigurnim rukama kada tehnički pregled obavljaju edukovani autodijagnostičari i automehaničari. 
                            Oni svoja znanja unapređuju u skladu sa tehničkim promenama u automobilskoj industriji.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="d-flex bg-light py-5 px-4">
                    <i class="fa fa-users-cog fa-3x text-primary flex-shrink-0"></i>
                    <div class="ps-4">
                        <h5 class="mb-3">Iskusni radnici</h5>
                        <p>Naše usluge izvršavaju radnici sa dugogodišnjim iskustvom tako da su vaša kola u pravim rukama!</p>
                       
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="d-flex py-5 px-4">
                    <i class="fa fa-tools fa-3x text-primary flex-shrink-0"></i>
                    <div class="ps-4">
                        <h5 class="mb-3">Moderna oprema</h5>
                        <p>Uz najmoderniju opremu proverićemo sve što ne valja za tili čas!</p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->
<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 pt-4" style="min-height: 400px;">
                <div class="position-relative h-100 wow fadeIn" data-wow-delay="0.1s">
                    <img class="position-absolute img-fluid w-100 h-100" src="/img/tehnicki-pregled.jpg" style="object-fit: cover; width:600px;height:600px;" alt="">
                    <div class="position-absolute top-0 end-0 py-4 px-5" style="background: rgba(0, 0, 0, .08);">
                        <h2 class="display-4 text-white mb-0">15 <span class="fs-4">Godina</span></h2>
                        <h4 class="text-white">Iskustva</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <h6 class="text-primary text-uppercase">// O nama //</h6>
                <h1 class="mb-4"><span class="text-primary">PregledPlus</span> je najbolje mesto za vaš automobil.</h1>
                <p class="mb-4" style="text-align: justify;">
                    Naša firma se sa ponosom ističe dubokim i raznovrsnim iskustvom u oblasti tehničkog pregleda vozila.
                    Sa višegodišnjim prisustvom u industriji, stekli smo reputaciju pouzdanog partnera za sve potrebe vezane za procenu tehničke ispravnosti vozila.
                    Naš tim stručnjaka poseduje bogato znanje i ekspertizu u oblasti mehanike, elektronike i sigurnosnih standarda, što nam omogućava da precizno i
                    temeljno procenjujemo svako vozilo koje nam se poveri.
                <br /><br />
                    Kroz naše dugogodišnje iskustvo, razvili smo sistematičan pristup tehničkom pregledu koji se zasniva na najnovijim standardima 
                    i tehnologijama. Naš cilj je osigurati da svako vozilo koje prođe kroz naše ruke bude u potpunosti ispravno i bezbedno za vožnju.
                    Naša posvećenost kvalitetu i pažnja prema detaljima omogućavaju nam da pružamo visokokvalitetne usluge koje premašuju očekivanja naših klijenata.
                <br /><br />
                    Bilo da se radi o redovnom tehničkom pregledu, registraciji vozila ili konsultacijama o održavanju, naš tim stručnjaka stoji vam na raspolaganju 
                    sa svojim znanjem i veštinama. Naša filozofija se zasniva na transparentnosti, odgovornosti i brizi za sigurnost svih učesnika u saobraćaju. 
                    Uvereni smo da naše iskustvo i stručnost čine razliku u osiguravanju da svako vozilo koje napusti naše prostorije bude u optimalnom stanju za 
                    vožnju na putevima.
                    <br /><br />
                    Vaša sigurnost je naš prioritet, i mi smo tu da vas podržimo sa našim dugogodišnjim iskustvom u tehničkom pregledu vozila.
                </p>

            </div>
        </div>
    </div>
</div>
<!-- About End -->
<!-- Service Start -->
<div class="container-xxl service py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="text-primary text-uppercase">// Naše usluge //</h6>
            <h1 class="mb-5">U okviru tehničkog pregleda vršimo i dodatne usluge!</h1>
        </div>
        <div class="row g-4 wow fadeInUp" data-wow-delay="0.3s">
            <div class="col-lg-4">
                <div class="nav w-100 nav-pills me-4">
                    <button class="nav-link w-100 d-flex align-items-center text-start p-4 mb-4 active" data-bs-toggle="pill" data-bs-target="#tab-pane-1" type="button">
                        <i class="fa fa-car-side fa-2x me-3"></i>
                        <h4 class="m-0">Dijagnostika automobila</h4>
                    </button>
                    <button class="nav-link w-100 d-flex align-items-center text-start p-4 mb-4" data-bs-toggle="pill" data-bs-target="#tab-pane-2" type="button">
                        <i class="fa fa-car fa-2x me-3"></i>
                        <h4 class="m-0">Servisiranje motora</h4>
                    </button>
                    <button class="nav-link w-100 d-flex align-items-center text-start p-4 mb-4" data-bs-toggle="pill" data-bs-target="#tab-pane-3" type="button">
                        <i class="fa fa-cog fa-2x me-3"></i>
                        <h4 class="m-0">Zamena pneumatika</h4>
                    </button>
                    <button class="nav-link w-100 d-flex align-items-center text-start p-4 mb-0" data-bs-toggle="pill" data-bs-target="#tab-pane-4" type="button">
                        <i class="fa fa-oil-can fa-2x me-3"></i>
                        <h4 class="m-0">Zamena ulja</h4>
                    </button>
                </div>
            </div>
            <div class="col-lg-8 ">
                <div class="tab-content w-100">
                    <div class="tab-pane fade show active" id="tab-pane-1">
                        <div class="row g-4">
                            <div class="col-md-6" style="min-height: 350px;">
                                <div class="position-relative h-100">
                                    <img class="position-absolute img-fluid w-100 h-100" src="/img/service-1.jpg"
                                         style="object-fit: cover;" alt="">
                                </div>
                            </div>
                            <div class="col-md-6">
                               
                                <p class="mb-4 text-justify">
                                    Dijagnostika automobila je detaljna analiza vozila kako bi se identifikovali problemi i potencijalne nepravilnosti u radu.
                                    Koristeći napredne alate i softvere, precizno se očitavaju sistemske greške, senzori i performanse, omogućavajući brzu identifikaciju
                                    kvarova radi efikasnog popravka.</p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab-pane-2">
                        <div class="row g-4">
                            <div class="col-md-6" style="min-height: 350px;">
                                <div class="position-relative h-100">
                                    <img class="position-absolute img-fluid w-100 h-100" src="/img/service-2.jpg"
                                         style="object-fit: cover;" alt="">
                                </div>
                            </div>
                            <div class="col-md-6 ">
                                
                                <p class="mb-4 text-justify">
                                    Servisiranje motora je sveobuhvatan proces održavanja motora vozila.
                                    Uključuje zamenu filtera, proveru tečnosti, podešavanje sistema paljenja, čišćenje i podmazivanje ključnih komponenti. 
                                    Ovaj postupak produžava životni vek motora, poboljšava efikasnost goriva i osigurava optimalno performanse.</p>
                                
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab-pane-3">
                        <div class="row g-4">
                            <div class="col-md-6" style="min-height: 350px;">
                                <div class="position-relative h-100">
                                    <img class="position-absolute img-fluid w-100 h-100" src="/img/service-3.jpg"
                                         style="object-fit: cover;" alt="">
                                </div>
                            </div>
                            <div class="col-md-6 ">
                                
                                <p class="mb-4 text-justify">
                                    Zamena pneumatika podrazumeva skidanje starih pneumatika i montažu novih guma na vozilo.
                                    Pravilno izbalansirane i montirane gume osiguravaju stabilnost, vuču i sigurnost prilikom vožnje. 
                                    Ova usluga je posebno važna tokom promene sezona ili kada su gume istrošene.</p>
                               
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab-pane-4">
                        <div class="row g-4">
                            <div class="col-md-6" style="min-height: 350px;">
                                <div class="position-relative h-100">
                                    <img class="position-absolute img-fluid w-100 h-100" src="/img/service-4.jpg"
                                         style="object-fit: cover;" alt="">
                                </div>
                            </div>
                            <div class="col-md-6 rounded-">
                                
                                <p class="mb-4 text-justify">
                                    Zamena ulja je redovno održavanje koje uključuje zamenu starog motornog ulja sa novim.
                                    To pomaže u očuvanju zdravlja motora, smanjuje habanje komponenti i poboljšava ukupnu efikasnost. 
                                    Pravilna zamena ulja omogućava motoru da radi glatko i smanjuje potencijalne kvarove.</p>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->
<!-- FAQ-->
<section class="py-12 mt-3 py-sm-24 py-md-32">
    <div class="container">
        <h2 class="mb-16">Najčešća pitanja</h2>
<div class="accordion" id="accordionExample">

    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
             Online zakazivanje tehničkog pregleda
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                        1.Pristup sajtu: Posetite zvanični sajt za tehnički pregled putem internet pretraživača.
                        <br>
                        2.Registracija/Logovanje: Ako već niste registrovani korisnik, obavezno se registrujte na sajtu. U suprotnom, ulogujte se koristeći svoje korisničko ime i lozinku.
                        <br>
                        3.Izbor usluge: Na glavnom meniju ili na početnoj stranici sajta, pronađite opciju za "Zakazivanje tehničkog pregleda" ili slično. Kliknite na nju.
                        <br>
                        4.Unos podataka o vozilu: Unesite podatke o vozilu za koje želite da zakazujete tehnički pregled. To obično uključuje registarski broj, marku, model i godinu proizvodnje.
                        <br>
                        5.Izbor termina: Izaberite slobodan termin koji vam odgovara.
                        <br>
                        6.Potvrda podataka: Pregledajte unete podatke i izabrani termin kako biste bili sigurni da su tačni.
            </div>
        </div>
    </div>


    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Šta je tehnički pregled vozila?
            </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
          Tehnički pregled vozila je skup aktivnosti kojim se utvrđuje tehnička ispravnost uređaja i opreme vozila.

          To je obavezan korak da bi vozilo bilo registrovano, odnosno da bi bilo upisano u jedinstveni registar vozila.

          Da bi se omogućilo da vozilo učestvuje regularno u saobraćaju, neophodno je da vozilo ispunjava sve tehničke uslove i
          pravila propisana domaćim zakonodavstvom, pre svega Zakonom o bezbednosti saobraćaja na putevima i Pravilnikom o tehničkom pregledu vozila.

    </div>
        </div>
    </div>


    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Koliko vrsta tehničkog pregleda postoji?
            </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                        1.Redovni (godišnji ili šestomesečni),<br />
                        2.Vanredni,<br />
                        3.Kontrolni tehnički pregledi.<br />
                        4.Redovnom godišnjem tehničkom pregledu vozilo se podvrgava pre upisa u jedinstveni registar vozila, odnosno izdavanja registracione nalepnice.<br />

                        <br /> Ovaj pregled se može izvršiti do 30 dana pre podnošenja zahteva za registraciju vozila.

                        Vanredni tehnički pregled se obavlja nakon izvršenih popravki vozila kod kojeg su (u saobraćajnoj nesreći, ili na drugi način) oštećeni vitalni sklopovi i uređaji koji su bitni za bezbedno učestvovanje vozila u saobraćaju, pored toga predviđen je i za vozila koja nisu bila u voznom stanju, kao i za isključena vozila zbog tehničke neispravnosti koja je utvrđena na kontrolnom tehničkom pregledu.

                        Kontrolni tehnički pregled se vrši po nalogu ovlašćenog lica Ministarstva unutrašnjih poslova, odnosno inspektora za drumski saobraćaj, radi kontrole tehničke ispravnosti vozila.

            </div>
        </div>
    </div>


    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                        Šta je bitno da znate u vezi tehničkog pregleda?
            </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse " data-bs-parent="#accordionExample">
            <div class="accordion-body">
                        1.Ako je klijent izgubio saobraćajnu dozvolu, obavezan je da na uvid dostavi Uverenje o upisu u jedinstveni registar vozila.<br />
                        2.Ako se obavlja tehnički pregled novoproizvedenih vozila koja se prvi put registruju, klijent dostavlja Potvrdu o saobraznosti.
                        <br /> 3.Za prepravljena i pojedinačno proizvedena vozila za koja nije izdata Potvrda o saobraznosti, kao i za kompletirana vozila koja se prvi put puštaju u saobraćaj u Republici Srbiji, klijent dostavlja Uverenje (Potvrdu) da vozilo ispunjava propisane uslove;
                        <br /> 4.Za vozila koja imaju ugrađen pogon na alternativna goriva klijent dostavlja na uvid Potvrdu o periodičnom pregledu ovih uređaja ili Potvrdu o saobrazanosti.
                        <br /> 5.Ako se obavlja vanredni tehnički pregled vozila koje je isključeno iz saobraćaja i kome su oduzete registarske tablice, klijent dostavlja Potvrdu o oduzimanju registarskih tablica.

            </div>
        </div>
    </div>


    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                        Čime firma garantuje ispravnost vozila nakon tehničkog pregleda?
            </button>
        </h2>
        <div id="collapseFive" class="accordion-collapse collapse " data-bs-parent="#accordionExample">
            <div class="accordion-body">
                        Prema Pravilniku o tehničkom pregledu vozila 31/2018-41, 70/2018-45, 62/2022-17 i Članu 41. za tehnički ispravno vozilo izdaje se 
                        Potvrda o tehničkoj ispravnosti vozila ili Registracioni list, u pisanom obliku.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
                        Da li je neophodno zakazati termin i koji je optimalni rok čekanja za tehnički pregled i registraciju vozila?
            </button>
        </h2>
        <div id="collapseSix" class="accordion-collapse collapse " data-bs-parent="#accordionExample">
            <div class="accordion-body">
                        Da. Termin zakazujete preko naše internet stranice PregledPlus ili telefonom na +381 65 4456798.
            </div>
        </div>
    </div>
   </div>

   </div>
   </section>
