@section Scripts{
 <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
}
<!-- Page Header Start -->
<div class="container-fluid page-header mb-5 p-0" style="background-image: url(/img/carousel-bg-1.jpg);">
    <div class="container-fluid page-header-inner py-5">
        <div class="container text-center">
            <h1 class="display-3 text-white mb-3 animated slideInDown">Zakažite termin</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb justify-content-center text-uppercase">
                    <li class="breadcrumb-item"><a asp-action="Index">Početna</a></li>
                    <li class="breadcrumb-item text-white active" aria-current="page">Zakažite termin</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<!-- Page Header End -->
<div class="d-flex justify-content-center">
    <iframe src='https://www.timetap.com/emb/381182' frameborder='0' width='1000' height='600'></iframe>
</div>